/*********************************************
  :: Necessary SASS files
********************************************/


/*********************************************
  :: Modules and Variables
********************************************/
/* Colors */

$magenta: #D51A68;
$purple: #6C1F5D;
$blue: #59C7D9;
$orange: #F79131;
$green: #38B449;
$beige: #F1E9E0;
$white: #ffffff;
$black: #000000;
$red: #E61C32;




/*********************************************
  :: Course Files
********************************************/
@import "course/course.scss";

